.footer {
  padding: 2rem 4rem 1rem 4rem;
  font-size: 1.6rem;
  background-color: rgba(0,0,0,.6);
  color: white;


  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  @include responsive(tab-port) {
    row-gap: 1rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(tab-port) {
      flex-direction: column;
      row-gap: 1rem;
      align-items: flex-start;
    }

  }

  &__list {
    display: flex;
    column-gap: 2rem;
    list-style: none;

    @include responsive(phone) { 
      flex-direction: column; 
      row-gap: 1rem;
    }
  }

  &__link {
    
    color: #cccccc;
    font-size: inherit;
    text-decoration: none;
    transition: all .2s;
    
    &:hover {
      color: white;
    }
    
  }

  &__social-icons {
    display: flex;
    gap: 1rem;
    fill: #cccccc;
    & > * {
      transform: scale(.99);
      transition: all .2s;
      &:hover {
        fill: var(--color-white);
        transform: scale(1.05) rotate(10deg);
      }
    }
  }


  &__copyright {
    color: #cccccc;
    font-size: 1.2rem;
    text-align: center;
    padding: .8rem;

    @include responsive(phone) {
      padding: .4rem;
    }
  }
}