body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.heading-primary {
  line-height: 1.2;
  letter-spacing: .1rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 300;
    color: var(--color-white);
    text-transform: uppercase;

    @media only screen and (max-width: 62.5em) {
      font-size: 4rem;
    }

    @media only screen and (max-width: 32.5em) {
      font-size: 2.8rem;
    }

    @media only screen and (max-width: 25em) {
      font-size: 2rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--color-white);

    @media only screen and (max-width: 62.5em) {
      font-size: 2rem;
    }
  
    @media only screen and (max-width: 32.5em) {
      font-size: 1.8rem;
    }
  
    @media only screen and (max-width: 28.75em) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: 25em) {
      font-size: 1rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-clip: text;
    color: transparent;

    @include responsive(tab-port) {
      font-size: 2.3rem;
    }
}

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;

  @include responsive(tab-port) {
    font-size: 1.8rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  line-height: 1.7;
}