.section-about {
  padding: 10rem 7rem;
  background-color: #f4f4f4;

  @include responsive(tab-port) {
    padding: 5rem 3rem;
  }
}

.about-us {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 4rem;
  

  &__detail {
    padding-bottom: 3rem;
    flex: $flex-basis;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.3);

    display: flex;
    flex-direction: column;
  }

  &__img {
    width: 100%;
   height: 28rem;
  }

  &__text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem;
  }

  &__terms {
    display: block;
    color: #555;
    font-size: 1.4rem;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: var(--color-primary-dark);
    }
  }
}

.section-news {
  color: var(--color-primary);
  padding: 10rem 7rem;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));

  @include responsive(tab-port) {
      padding: 5rem 3rem;
  }

  .heading-secondary {
    font-size: 2.5rem;
  }

  &__content {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, .95) 0%, rgba(255, 255, 255, .95) 50%, transparent 50%), url(../img/news-bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    padding: 5rem;

    @include responsive(phone) {
      background-image: none;
      background-color: #fff;
    }

  }

  &__box {
    width: 45%;
    @include responsive(phone) {
      width: 100%;
    }
  }

  .form-news {
    font-size: 1.6rem;
    gap: 1rem;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    &__input,
    .privacy-policy {
      width: 90%;
    }

    &__btn {
      display: inline-block;
    }

    &__label {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
    }

  }
}

.privacy-policy {
  &__news {
    letter-spacing: .05rem;
    color: var(--color-text-light-grey);
    font-weight: 300;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
    transition: color .2s;
    &:hover {
      color: var(--color-primary);
    }
  }
}

.section-app {
  padding: 10rem 7rem;
  background-color: #f4f4f4;
  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20rem;

  @include responsive(tab-port) {
      padding: 5rem 3rem;
  }

  @include responsive(tab-land) {
    flex-direction: column;
    row-gap: 10rem;
  }
  
  &__text {
    flex: 0 0 50%;
  }

}

.section-review {
  padding: 10rem 7rem;
  background-color: #f4f4f4;

  @include responsive(tab-port) {
      padding: 5rem 3rem;
    }
}

.review {
  display: flex;
  row-gap: 2rem;
  flex-direction: column;

  flex: $flex-basis;

  box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
  padding: 5rem;

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
  }

  &__user {
    order: 1;
    display: flex;
    align-items: center;
    column-gap: 2rem;

    &-img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      box-shadow: inset 0 0 0 .8rem rgba(0, 0, 0, .7);
    }

    &-name {
      font-size: 2rem;
      font-style: italic;
      text-transform: uppercase;
      font-weight: bolder;
      color: var(--color-primary);
    }
  }

  &__text {
    font-size: 2rem;
    font-style: italic;
    line-height: 1.5;
    position: relative;

    &::before {
      line-height: 0;
      content: "\201C";
      font-size: 10rem;
      color: var(--color-primary);
      display: block;
      position: absolute;
      top: .5rem;
    }
  }
}

.section-place {
  padding: 10rem 7rem;
  @include responsive(tab-port) {
    padding: 5rem 3rem;
  }
}

.location {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 4rem;
  row-gap: 6rem;
  

  &__recommend {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    padding: .5rem 1rem;
  }

  &__box {
    position: relative;
    flex: $flex-basis;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);

    border-radius: .3rem;
    overflow: hidden;
    cursor: pointer;
  }

  &__details {
    padding: 1rem 3rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__img {
    width: 100%;
    height: 55%;
  }

  &__price-detail {
    display: flex;
    align-items: baseline;
    gap: .7rem;
    color: var(--color-text-light-grey);
  }

  &__price {
    font-size: 4.5rem;
    font-weight: 100;
  }
    
  &__price-user {
    font-size: 2rem;
    font-weight: 700;
  }

  &__place {
    font-size: 2.5rem;
  }

  &__book-now {
    font-size: 2.5rem;

    span {
        margin-left: .3rem;
        transition: all .2s;
    }

    &:hover {
      span {
        margin-left: 1rem;
      }
    }
  }
}